#Ice_cream_data{
    margin: 40px;
}

h2{
    text-align: center;
    margin: 20px;
}

div{
    width: 300px;
    height: 400px;
    border-radius: 20px;

}

h4{

}

h5{
    
}

p{

}

#btn{
    color: white;
    background-color: rgb(241, 142, 183);
    border: 0px;
    border-radius: 5px;
}